@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');

* {
  margin: 0;
  padding: 0;
}
html, body {
    background: #fff;
    font-size: 0.875rem;
    font-family: "Poppins",Helvetica,sans-serif;
    color: #444;
  overflow-x:hidden;
}
/* NavBar */


.navbar {
  transition: all 0.4s;
  text-transform:uppercase;
  font-weight: 800;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 761.98px) {
  .navbar {
      background: #fff;
  }
  .hero h1, .hero h3 { display: none;}

  .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
  }
}


 /* Set the border color */
          
 .custom-toggler.navbar-toggler {
  border-color: rgb(70, 252, 70);
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #f1870f;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}



/* HEADER */
.hero {
  height: 55vh;
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    rgba(101, 171, 179, 0.5),
    rgb(22,160,133, 0.6)
  ),
  url('../img/headerbokitx.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

h1, h6 {
  font-family: 'Raleway', sans-serif;
  line-height: 2.5rem;
  color: white;
}

.hero h1, .hero h3 {
  color: rgb(248, 140, 100);
  line-height: 1;
  font-size: 3rem;
  margin: 0;
  font-weight: 800;
  text-shadow: 2px 2px 2px white;
}

.hero span {
  color: rgb(192, 3, 3);  font-weight: bolder;
 
}

.custom-search-input {
  background-color: #fff;
  padding: 5px 5px 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
}

.custom-search-input .form-group {
  margin: 0;
}

.form-group {
  position: relative;
}

.custom-search-input input {
  border: 0;
  height: 50px;
  padding: 12px 10px 10px 20px;
  border-right: 1px solid #d2d8dd;
  font-weight: 500;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 15px;
  font-size: 0.9375rem;
}
.form-control {
  padding: 10px;
  height: 40px;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d2d8dd;
}

.custom-search-input i {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  font-size: 1.125rem;
  position: absolute;
  background-color: #fff;
  line-height: 50px;
  top: 0;
  right: 1px;
  padding-right: 15px;
  display: block;
  width: 20px;
  box-sizing: content-box;
  height: 48px;
  z-index: 9;
  color: #999;
}


.custom-search-input input[type='submit'] {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  border: 0;
  padding: 0 25px;
  height: 50px;
  cursor: pointer;
  outline: none;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #589442;
  margin-right: -1px;
}

/* CATEGORIES */

.bg_gray {
  background-color: #f4f4f4; 
   padding-bottom: 20px;

}

.margin_60_40 {
  padding-top: 20px;
}

.margin_20_10{
  padding-top:20px;
}


.main_title.center {
  text-align: center;
}
.main_title {
  position: relative;
  margin-bottom: 25px;
  position: relative;
}


.main_title.center span {
  margin: auto;
}

.main_title span {
  width: 120px;
  height: 2px;
  background-color: #e1e1e1;
  display: block;
}

.main_title.center span em {
  margin: auto;
}

.main_title span em {
  width: 60px;
  height: 2px;
  background-color: #589442;
  display: block;
}

.main_title.center h2 {
  max-width: inherit;
  font-size: 34px;
  padding-top:12px;

}

 .View a {
    position: absolute;
    right: 65px;
    bottom: 0;
    font-weight: 900;
    color: #589442;
    text-decoration: none;
    text-transform: uppercase;
}
 
@media  (max-width: 575px){
  .View a {
    display:none}}

.categories_grid {
  margin-bottom: 20px;
}

.small-gutters {
  margin-right: -5px !important;
  margin-left: -5px !important;
} 

.small-gutters {
  margin-right: -5px !important;
  margin-left: -5px !important;
} 
.small-gutters h2 {
  padding-bottom: 11px !important;
  font-weight: bolder;
}
@media (max-width: 761.98px) {
  .small-gutters .col-sm-12, .small-gutters .col-sm-6{
    padding-top: 15px !important;
  } 
  
}
.categories_grid a {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.categories_grid a img {
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.categories_grid a .wrapper {
  width: 100%;
  background: 0 0;
  background: -webkit-linear-gradient(top,transparent,#000);
  background: linear-gradient(to bottom,transparent,#000);
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 1;
  padding: 100px 20px 20px 20px;
}

.categories_grid a .wrapper h2 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  font-size: 1.5rem;
  margin: 0;
  -webkit-transform: translateY(20px) translateZ(0);
  -moz-transform: translateY(20px) translateZ(0);
  -ms-transform: translateY(20px) translateZ(0);
  -o-transform: translateY(20px) translateZ(0);
  transform: translateY(20px) translateZ(0);
  -webkit-transition: all .3s cubic-bezier(.77,0,.175,1);
  -moz-transition: all .3s cubic-bezier(.77,0,.175,1);
  -ms-transition: all .3s cubic-bezier(.77,0,.175,1);
  -o-transition: all .3s cubic-bezier(.77,0,.175,1);
  transition: all .3s cubic-bezier(.77,0,.175,1);
}


.categories_grid .margin {
  margin: 10px 0 0 0;
}
/*BANNER*/
.banner_container{
  max-width: 1060px;

  margin : 0 auto;
}

.bg-image {
  width:100%;
  padding-top:32%;
background:url('../img/SiteInternet_Banniere_Soutien-restaurateurs.png') no-repeat center;
background-size:contain;

}



.banner.version_2 {
  background: #589442 url(../img/pattern.svg) repeat;
  height: 230px;
  margin: 5px 0 20px 0;
  border-radius: 10px;margin-bottom: 60px;
}

.banner .wrapper {
  color: #fff;
  padding: 60px;  

}


  .banner .wrapper img {
    background: #f0f0f091;
     border-radius: 5px;}

.banner .wrapper h3 {
  color: #fff;
  font-size: 2rem;
  margin: 10px 0 0 0;
  padding-bottom: 10px;
}

.banner .wrapper p {
  font-size: 1.3125rem;
}

a.btn_1.gray, .btn_1.gray {
  background: #f0f0f0;
  font-weight: bolder;
  color: #111 !important;
}

.btn_1 a, .btn_1 {
  padding: 8px 25px;
  border-radius: 5px;
}


@media only screen and (max-width: 546px){
.banner.version_2 {
  display:none}}

  /*inscrire*/
  .call_section {
    background-position: top  center;
    background-repeat: no-repeat;
        -webkit-background-size: cover; 
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    min-height: 380px;
    padding: 8% 0;
}


.call_section .box_1 {
  background-color: #121921;
  color: #fff;
  padding: 45px;
}

.call_section .box_1 h3 {
  color: #fff;
}

.call_section .box_1 p {
  opacity: .8;
  font-size: 1rem;
}

a.btn_1, .btn_1 {
  border: none;
  background: #589442;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 8px 25px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 0.875rem;
  border-radius: 3px;
  line-height: normal;}

  /*Footer*/
  footer {
    background-color: #121921;
    padding: 60px 0 35px 0;
}

footer h3 {
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 15px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 768px){
.collapse.dont-collapse-sm {
    display: block !important;
    height: auto !important;
    visibility: visible !important;
}}

footer .links ul {
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none;
}

footer .links ul li {
  margin-bottom: 8px;
  line-height: 1.2;
}

footer .links ul li a {
  position: relative;
  color: #fff;
  opacity: 0.6;
  display: inline-block;
}

footer .links ul li a:after {
  font-family: 'ElegantIcons';
  content: "\24";
  position: relative;
  margin-left: 5px;
  top: 2px;
  opacity: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .contacts ul {
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none;
}

footer .contacts ul li {
  padding-left: 35px;
  position: relative;
  margin-bottom: 15px;
  color: #fff;
  opacity: 0.6;
}

footer .contacts ul li i {
  font-size: 1.125rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  line-height: 1;
}

.form-group {
  position: relative;
}

#newsletter input[type='email'] {
  border: 0;
  height: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding-left: 15px;
  background-color: #f3f3f3;
  background-color: rgba(255,255,255,0.05);
  color: #ccc;
}
.form-control {
  padding: 10px;
  height: 40px;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d2d8dd;
}

#newsletter button[type='submit'] {
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 24px;
  font-size: 1.5rem;
  top: 0;
  border: 0;
  padding: 0 10px;
  height: 40px;
  line-height: 44px;
  cursor: pointer;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-color: #589442;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}
 

.follow_us h5 {
  font-size: 16px;
  font-size: 1rem;
  margin: 35px 0 10px 0;
  color: #fff;
}

.follow_us ul {
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none;
}

.follow_us ul li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.follow_us ul li a {
  display: block;
}

footer hr {
  border-color: rgba(255,255,255,0.15);
  margin-top: 5px;
}
.follow_us ul li a img {
  width: 30px;
  height: 30px;
}
.add_bottom_25 {
  padding-bottom: 25px;
}

ul.footer-selector {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.footer-selector li {
  float: left;
  margin-right: 10px;
}

.styled-select {
  width: 100%;
  overflow: hidden;
  height: 30px;
  line-height: 32px;
  border: none;
  background-color: #f3f3f3;
  background-color: rgba(255,255,255,0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding-right: 35px;
  position: relative;
  color: #ccc;
  cursor: pointer;
}

.styled-select select {
  background: transparent;
  width: 110%;
  padding-left: 10px;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 30px;
  color: #ccc;
  font-size: 12px;
  font-size: 0.75rem;
  margin: 0;
  font-weight: 500;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
}

.styled-select.lang-selector:after {
  content: "\f024";
}

.styled-select:after {
  font-family: "Font Awesome 5 Free";
  color: #ccc;
  position: absolute;
  right: 10px;
  top: 0;
}

ul.additional_links {
  margin: 0;
  padding: 8px 0 0 0;
  color: #555;
  float: right;
  font-size: 13px;
  font-size: 0.8125rem;
}

ul.additional_links li:first-child {
  margin-right: 20px;
}

ul.additional_links li {
  display: inline-block;
  margin-right: 15px;
}

ul.additional_links li a {
  color: #fff;
  opacity: 0.8;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul.additional_links li:after {
  content: "|";
  font-weight: 300;
  position: relative;
  left: 10px;
}

/* Style button */

#top-btn {
  width: 50px;
  height: 50px;
  bottom: -50px;
  right: 20px;
  position: fixed;
  text-align: center;
  border-radius: 100px;
  background-color: #589442;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
  -webkit-transition: all .8s;
  transition: all .8s;
}

#top-btn:hover {
  background-color: #4baa28;
}

#top-btn:hover i {
  padding-top: 8px;
}

#top-btn i {
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
  -webkit-transition: all .8s;
  transition: all .8s;
}


/*MODAL*/
.box {
  width: 370px;

  margin: auto;
  border-radius: 3px;
  background-color: #03aa1ecb;
  padding: 1px;
}
.icon {
  text-align: center;

}

.icon i {
  padding: 20px;
  font-size: 58px;
  color: rgb(241, 97, 0);
  
}
.text {
  color: white;
  font-size: 15px;
}
.text p {
  padding-top: 10px;
  width: 90%;
  font-weight: 100;
  margin: auto;
}
.text a {
  font-weight: 700;  color: white;

}

.buttons {
  display: block;
  margin: 18px;
  font-size: 13px;
  color: white;
  user-select: none;
}


.accept {
  display: inline-block;
  background-color: #ffffff;
  text-align: center;
  padding: 13px 30px;
  border-radius: 3px;
  cursor: pointer;  color: rgb(0, 0, 0);
  font-weight:bolder;

}

.cancel {
  padding: 13px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);

  display: inline-block;  border-radius: 3px;
font-weight:bolder;
  cursor: pointer;

}
